[submodule "bundle/dirsettings.git"]
	path = bundle/dirsettings.git
	url = git@github.com:mantiz/vim-plugin-dirsettings.git
[submodule "bundle/nerdcommenter.git"]
	path = bundle/nerdcommenter.git
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree.git"]
	path = bundle/nerdtree.git
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/sparkup.git"]
	path = bundle/sparkup.git
	url = https://github.com/sophacles/vim-bundle-sparkup.git
[submodule "bundle/vim-pathogen.git"]
	path = bundle/vim-pathogen.git
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-rst-tables.git"]
	path = bundle/vim-rst-tables.git
	url = https://github.com/nvie/vim-rst-tables.git
[submodule "bundle/whitespacetrail.git"]
	path = bundle/whitespacetrail.git
	url = git://github.com/jakobwesthoff/whitespacetrail.git
[submodule "bundle/xptemplate.git"]
	path = bundle/xptemplate.git
	url = git://github.com/drmingdrmer/xptemplate.git
[submodule "bundle/vim-autocomplpop.git"]
	path = bundle/vim-autocomplpop.git
	url = git@github.com:mantiz/vim-plugin-autocomplpop.git
[submodule "bundle/vim-l9.git"]
	path = bundle/vim-l9.git
	url = git@github.com:mantiz/vim-plugin-l9.git
[submodule "bundle/vim-bufexplorer.git"]
	path = bundle/vim-bufexplorer.git
	url = https://github.com/wzzrd/vim-bufexplorer.git
